*
{
    margin: 0px;
    padding: 0px;
}
.bg_container
{
    height: 100vh;
    background-image:url(g.jpg),
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}