.red
{
    background-color: rgb(255, 0, 0);
}

.black {
    text-align: left;
    color: white;
    background-color: black;
}
.viz
{
    height: 100px;
    width: 30vh;
    background-color: green;
    
}
.white {
    color: rgb(255, 255, 255);
    text-align: center;
}